:root{
	--white-color: #fff;
	--dark-color: #222;
	--body-bg-color: #fff;
	--section-bg-color: #202834;
	--navigation-item-hover-color: #3b5378;

	--text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
	--box-shadow: 0 5px 25px rgba(0 0 0 / 20%);

	--scroll-bar-color: #fff;
	--scroll-thumb-color: #282f4e;
	--scroll-thumb-hover-color: #454f6b;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background: rgb(28,10,0);
	background: linear-gradient(90deg, rgba(28,10,0,1) 32%, rgba(50,22,8,1) 92%);
	min-height: 100vh;
}

header{
	z-index: 999;
	position: fixed;
	width: 100%;
	height: calc(5rem + 1rem);
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	transition: 0.5s ease;
	transition-property: height, background;
}

header.sticky{
	height: calc(4rem + 1rem);
	background: rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10px);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header .nav-bar{
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 200px;
	transition: 0.3s ease;
}

.nav-close-btn, .uil-envelope{
	display: none;
}

.nav-bar .logo{
	color: var(--white-color);
	font-size: 1.8em;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: var(--text-shadow);
}

.navigation .nav-items a{
	color: var(--white-color);
	font-size: 1em;
	text-decoration: none;
	text-shadow: var(--text-shadow);
}

.navigation .nav-items a i{
	display: none;
}

.navigation .nav-items a:not(:last-child){
	margin-right: 45px;
}

#ftanggota{
	padding-top: 8rem;
	padding-bottom: 4rem;
	height: 100vh;
	width: 100%;
}

.container {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px 0;
}

.container .card {
	position: relative;
	width: 300px;
	height: 400px;
	background-image: radial-gradient( circle farthest-corner at 18.7% 37.8%,  rgba(250,250,250,1) 0%, rgba(225,234,238,1) 90% );
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}

.container .card .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.container .card:hover .content {
	transform: translateY(-10px);
}

.container .card .content .imgBx {
	position: relative;
	width: 200px;
	height: 250px;
	overflow: hidden;
}

.container .card .content .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container .card .content .contentBx h3 {
	color: #000;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

.container .card .content .contentBx h3 span {
	font-size: 12px;
	font-weight: 300;
	text-transform: initial;
	color: #000;
}
.row{
	display:flex;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
}

.sub-title {
  font-size: 18px;
  color: #fff;
}

.service-icon {
  margin-right: 4px;
  font-size: 24px;
}

.button1 {
  width: 240px;
  height: 60px;
  background-color: #fff;
  color: #6940a5;
  border: 2px solid #6940a5;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  transition-duration: 0.4s;
}

.button1:hover {
  background-color: #6940a5 ;
  color: white;
}
